<!-- Comments
================================================== -->
{% if page.comments != false %} 
<div class="comments">
    <!-- <button class="btn btn-dark show-comments">Load Comments</button>         
    <div id="comments">  
        <h4 class="mb-4">Comments</h4>                 
            {% include disqus.html %}     
    <div class="clearfix"></div>              
    </div>     -->

    <script src="https://utteranc.es/client.js"
            repo="DNDACADEMY/dndacademy.github.io"
            issue-term="pathname"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
</div>       
{% endif %}