---
layout: default
disqus: false
archive: false
post_class: post-template
---

<div class="entry-header">
    <!-- Post Title -->
    <h1 class="posttitle">{{ page.title }}</h1>
    <!-- Author & Date  Box -->
    {% assign author = site.authors[page.author] %}    
    <div class="d-flex align-items-center mt-4">
        <div>
            {% if page.author and author.display_name %}
                <!-- author을 작성하였으며, config에 존재할 경우 -->
                <a target="_blank" class="text-dark" href="{{ author.web }}">
                    <img class="author-thumb" src="https://dnd-academy-v2.s3.ap-northeast-2.amazonaws.com/images/mentor/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                </a>
            {% else %}
                <!-- config에 존재하지 않는 사용자일 경우  -->
                <i class="fas fa-user author-thumb" alt="{{ page.author }}" style="font-size:50px; border: 0px;"></i>
            {% endif %}
        </div>            
        <div>
            Written by 
            {% if page.author and author.display_name %}
                <a target="_blank" class="text-dark" href="{{ author.web }}">{{ author.display_name }}</a>
            {% else %}
                {{ page.author }}
            {% endif %}
             on <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
            {% if page.last_modified_at %}
            (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
            {% endif %}        
        </div>            
    </div>

    <!-- 방문자수 확인 -->
    <!-- <div style="text-align: center; float:right">
        <a href="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}/{{ page.url | remove_first: '/' | replace: '/', '-' }}" target="_blank">
            <img src="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}/{{ page.url | remove_first: '/' | replace: '/', '-' }}.svg" />
        </a>
    </div>  -->
</div>

<!-- Adsense under title if enabled from _config.yml (change your pub id and slot) -->
{% if site.adsense == "enabled" %}
    {% include adsense-under-header.html %}
{% endif %}

<!-- Featured Image -->
{% include featured-image.html %}

<!-- Content -->
{% include article.html %}

<!-- Rating -->
{% if page.rating %}
<div class="rating mt-4 mb-4 d-flex align-items-center">
    <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
</div>
{% endif %}

<!-- Author Box if enabled from _config.yml -->
{% include author-box.html %}

<!-- Comments if not disabled with comments: false -->
{% include comments.html %}

<!-- Share -->
{% include share.html %}

<!-- Related Post -->
{% include related-posts.html %}

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first: 
https://search.google.com/structured-data/testing-tool/u/0/
================================================== -->
{% if page.rating %}
    <script type="application/ld+json">
    {
    "@context": "http://schema.org/",
    "@type": "Review",
    "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
    },
    "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
    },
    "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
    "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
    }
    }
    </script>
{% endif %}